form action="/login" method="POST"
    input name="username" type="text" placeholder="Username"
    input name="password" type="password" placeholder="Password"
    input type="submit" value="Sign in"
    
a href="/register" Register
        <div class="container">
            <div class="name_cont">
                <span class="app_name">SpyApp</span>
            </div>
            <div class="login_cont">
                <div class="login_box">
                    <div class="login_info">
                        <div class="avatar_img">
                            <div class="profile_img">
                            </div>
                        </div>
                        <span class="profile_name"><b>Grillkorv Grillkorvsson</b></span>
                        <span class="profile_nr">076XXXXXXX</span>
                    </div>
                    <div class="login_pass">
                        <input type="password" id="password_b" placeholder="Password">
                    </div>
                    <div class="login_button">
                        <input type="submit" value="Log in" id="login_b" onclick="window.location.href='./index.html'">
                    </div>
                </div>
                <div class="login_switch">
                    <span class="switch_name">Switch accounts</span>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/login.js"></script>