form method="POST" action="/update/#{styles[0][0]}"
    input name="content" placeholder="Edit content" type="text" value="#{styles[0][2]}"
    input type="submit" value="Edit style"
a href="javascript:history.back()"