html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body{
    background-color: #795548;
}
.container{
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

.login_switch{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4D90FE;
    font-size: 13px;
    padding-top: 16px;
}

.profile_img{
    height: 72px;
    width: 72px;
    border-radius: 50%;
    background-color: #404040;
}

.avatar_img{
    padding-top: 16px;
    padding-bottom: 8px;
    box-shadow: #000;
}

.name_cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 2;
}

.login_cont{
    display: flex;
    flex-direction: column;
    flex-grow: 3;
}

.login_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.login_box{
    display: flex;
    flex-direction: column;
    width: 235px;
    length: 237px;
    border: solid lightgray 1px;
    background-color: #f7f7f7;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    box-shadow: 0 4px 5px -5px #000000;
}

.login_pass{
    padding: 3px 8px;
}

.app_name{
    font-size: 20px;
    color: white;
}

.profile_name{
    color: #404040;
    font-size: 16px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.profile_nr{
    color: rgba(0,0,0,0.57);
    font-size: 13px;
    padding-top: 3px;
    padding-bottom: 3px;
}

#login_b{

}

#password_b{
    font-size: 14px;
    width: 204px;
    height: 40px;
    margin-bottom: 6px;
    border-radius: 1px;
    border: solid lightgrey 1px;
    box-shadow: inset 1px 1px 10px -6px rgba(0,0,0,0.75);

}

input[type="submit"]{
    background-color: #4D90FE;
    height: 36px;
    width: 208px;
    border-radius: 3px;
    border: solid #2e7dff 1px;
    color: white;
}

.login_button{
    padding: 3px 6px 8px;
}

#password_b{
    text-indent: 5px;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2){

}
