<<<<<<< HEAD
html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body{
    background-color: #795548;
}
.container{
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

.login_switch{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4D90FE;
    font-size: 13px;
    padding-top: 16px;
}

.profile_img{
    height: 72px;
    width: 72px;
    border-radius: 50%;
    background-color: #404040;
}

.avatar_img{
    padding-top: 16px;
    padding-bottom: 8px;
    box-shadow: #000;
}

=======
body {
    background: lightblue;
>>>>>>> parent of d23807d... login cleanup
}
